body {
    margin: 0;
    padding: 0;
    background-image: url(../img/atirodeas1.jpeg);
    background-size: cover;
    height: 100vh;
  }

  #login .container #login-row #login-column #login-box{
    margin-top: 60px;
    max-width: 600px;
    height: auto;
    border: 1px solid #9c9c9c;
    background-color: #eaeaea;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login
    .container
    #login-row
    #login-column
    #login-box
    #login-form
    #register-link {
    margin-top: -85px;
  }




  #asesor .container #asesor-row #asesor-column #asesor-box{
    margin-top: 40px;
    max-width: 1200px;
    height: auto;
    border: 1px solid #9c9c9c;
    background-color: #eaeaea;
    
  }

  #asesor .container #asesor-row #asesor-column #asesor-box #asesor-form {
  padding: 10px;
}
#asesor
  .container
  #asesor-row
  #asesor-column
  #asesor-box
  #asesor-form
  #register-link {
  margin-top: -85px;
}


#asesorPedido .container #asesorPedido-row #asesorPedido-column #asesorPedido-box{
  margin-top: 40px;
  max-width: 2000px;
  height: auto;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
  font-size: 10px;
}

#asesorPedido .container #asesorPedido-row #asesorPedido-column #asesorPedido-box #asesor-form {
padding: 12px;
}
#asesorPedido
.container
#asesorPedido-row
#asesorPedido-column
#asesorPedido-box
#asesorPedido-form
#asesorPedido-link {
margin-top: -85px;
}



#coordinador .container #coordinador-row #coordinador-column #coordinador-box{
  margin-top: 40px;
  max-width: 1000px;
  height: auto;
  border: 1px solid #9c9c9c;
  background-color: #fdf2f2;
  
}

#coordinador .container #coordinador-row #coordinador-column #coordinador-box #coordinador-form {
padding: 10px;
}
#coordinador
.container
#coordinador-row
#coordinador-column
#coordinador-box
#coordinador-form
#register-link {
margin-top: -85px;
}



#asesorPedidoBtn{
  background-color: rgba(20, 223, 20, 0.651);
}

#btnOrdenAgregar{
  background-color: rgba(20, 223, 20, 0.651);
}

#btnOrdenEliminar{
  background-color: rgba(255, 0, 0, 0.616);
}
#Vals{
  background-color: white;
}